/*General*/

:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/*Header*/

.header {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(41, 111, 144);
  color: white;
}

body {
  background-color: rgb(241, 238, 238);
}

button {
  cursor: pointer;
}

/*Main*/

.main {
  padding: 1em 2em;
}

.library__header {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.library__title {
  font-size: 2rem;
}

.library__new-book-btn {
  border: none;
  background-color: rgb(47, 133, 63);
  color: white;
  padding: 8px 22px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 6px;
}

.library__content {
  display: grid;
  gap: 1em;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.book {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  box-sizing: border-box;
  padding: 1em 2em;
  border-left: 200px solid rgb(170, 37, 104);
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  position: relative;
}

.book__bottom {
  display: flex;
  align-items: center;
  gap: 2em;
}

.book__title,
.book__author,
.book__pages {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__title {
  font-size: 1.15rem;
}

.book__author,
.book__pages {
  color: rgb(42, 42, 42);
  font-size: 0.9rem;
  max-width: 100%;
}

.book__read {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button__toggle-read {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.button__read-icon {
  width: 25px;
}

.button__delete-book {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: rgb(168, 36, 36);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

/*Form*/

.book-form {
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 1em;
  position: fixed;
  background-color: white;
  left: 33%;
  top: 25%;
}

fieldset {
  border: none;
}

.book-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 0.5em;
}

.book-form__inputs input {
  border: none;
  padding: 5px 15px;
  background-color: lightgrey;
  font-size: 1rem;
}

.book-form__inputs input:focus {
  outline: 1px solid rgb(28, 96, 114);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.book-form__buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.book-form__buttons button {
  padding: 5px 22px;
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 3px;
}

.book-form__add-btn {
  background-color: rgb(47, 133, 63);
}

.book-form__close-btn {
  background-color: rgb(143, 41, 41);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
