/*General*/

:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/*Header*/

.header {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(41, 111, 144);
  color: white;
}
